*.ipch
*.suo
*.db
*.pdb
*.exe
*.ilk
.vs
.vscode
.tmp
*.tlog
*.obj
*.idb
*.log
*.exp
*.iobj
*.ipdb
bin
Debug
Release

venv/
src/Managers/crash_log.txt
Feline Frenzy/logs/crash-log.txt
Feline Frenzy/imgui.ini
!installer/REDIST/VC_redist.x64.exe
!installer/INSTALLER/*
